<label for="marca">IdPedido: </label>
<input type="number"  [(ngModel)]="idCliente"><br>
<label for="color">IdCliente: </label>
<input type="number"  [(ngModel)]="idPedido"><br>
<label for="cantidad">Nombre Cliente: </label>
<input type="text" [(ngModel)]="nombreCliente"><br>
<label >Total producto: </label>
<input type="number" [(ngModel)]="totalProducto"><br>
<label for="tp">Importe Total: </label>
<input type="number" [(ngModel)]="importeTotal"><br>
<input type="button" value="subir" (click)="anadir()">
